<section class="container-fluid" id="section1">
    <h1 class="text-center v-center">ImPatient</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-2 text-center">
                        <h3>Dynamic</h3>
                        <p>Fully customizable to suit your clinic's needs.</p><i class="fa fa-cog fa-5x"></i>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 text-center">
                        <h3>Simple</h3>
                        <p>Creates a user friendly experience for all types of users.</p><i class="fa fa-user fa-5x"></i>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="row">
                    <div class="col-sm-10 text-center">
                        <h3>Clean</h3>
                        <p>Quick startup time allows Caregivers to access important notification in seconds.</p><i class="fa fa-mobile fa-5x"></i>
                    </div>
                </div>
            </div>
        </div><!--/row-->
        <div class="row"><br></div>
    </div><!--/container-->
</section>

<section class="container-fluid" id="section2">
    <h2 class="text-center">
        Designed with mobile in mind
    </h2>
    <p class="text-center lead">
        Patient messages are automatically updated on the nurse's device.  Compatible with all mobile devices and laptops.
    </p>
    <p class="text-center lead">
        Allows nurses to respond to patient needs and nurse-nurse messages on the go.
    </p>
    <img src="../../images/bg_iphone.png" /><img src="http://images.apple.com/br/iphone/business/profiles/mayo-clinic/images/hero.jpg" height="400" />
</section>

<section class="container-fluid" id="section3">
    <h2 class="text-center">
        Simplified patient interface customized for all needs.
    </h2>
    <p class="text-center lead">
        The patient user interface is totally unique, simplified to create the most user-friendly experience.
    </p>
    <img src="../../images/patientSendingMessage.png" /><img src="../../images/placeit_360.png" />
</section>



