<section id="patientView" class="container-fluid">


    <button id="button3" class="btn btn-block btn-danger" ng-click="controller.sendMessage('emergency')">!</button>
    <button class="btn btn-block btn-success" ng-click="controller.sendMessage('food')"><img class="img-responsive" style="height:300px; margin: 0 auto" src="https://pixabay.com/static/uploads/photo/2012/04/26/18/41/banana-42793_960_720.png" /></button>
    <button class="btn btn-block btn-primary" ng-click="controller.sendMessage('water')"><img class="img-responsive" style="height:300px; margin: 0 auto" src="http://www.clipartbest.com/cliparts/ncB/LGz/ncBLGzBcA.png" /></button>
</section>
